.header{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 64px;
width: 1111px;
height: 32px;
&>ul{
display: flex;
align-items: center;
gap:43px ;
}
&>ul>li>a{
    color: #5FB4A2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}
&>ul>li>a:active{
    color: #33323D;
    transition: all 3 ease;


}
}