@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
.container {
  width: 1111px;
  margin: 0 auto;
  padding: 0 20px;
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.footer {
  background: #33323D;
}
.footer-box {
  display: flex;
  align-items: center;
}
.footer-main {
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 0 42px;
  margin-left: 48px;
  margin-right: 591px;
}
.footer-item {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header {
  margin-top: 64px;
  margin-bottom: 94px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 0 42px;
  align-items: center;
}
.header-item a {
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-box {
  display: flex;
}
.hero-box img {
  margin-right: 125px;
}

.hero-box-2 {
  margin-top: 100px;
}
.hero-box-2 h2 {
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  margin-bottom: 28px;
}
.hero-box-2 p {
  width: 335px;
  color: #33323D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.8;
  margin-bottom: 24px;
}
.hero-box-2 button {
  width: 175px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

.bookmark {
  margin-top: 80px;
}
.bookmark-text {
  margin-right: 125px;
}
.bookmark-text h2 {
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.bookmark-text p {
  width: 350px;
  margin-bottom: 24px;
  color: #33323D;
  opacity: 0.8;
  font-size: 16px;
  font-style: normal;
  margin-top: 28px;
  font-weight: 400;
  line-height: 30px;
}

.bookmark-box {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-bottom: 80px;
}

.bookmark-btn {
  width: 175px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

.fylo {
  margin-top: 80px;
}
.fylo-text {
  margin-right: 125px;
}
.fylo-text h2 {
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.fylo-text p {
  width: 350px;
  margin-bottom: 24px;
  color: #33323D;
  opacity: 0.8;
  font-size: 16px;
  font-style: normal;
  margin-top: 28px;
  font-weight: 400;
  line-height: 30px;
}

.fylo-box {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-bottom: 150px;
}

.fylo-btn {
  width: 175px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

.interest-title {
  color: #33323D;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  width: 370px;
  letter-spacing: -0.357px;
}

.interest-btn {
  width: 175px;
  height: 48px;
  flex-shrink: 0;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

.interest-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interest {
  margin-bottom: 150px;
}/*# sourceMappingURL=main.css.map */