*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}

button {
    cursor: pointer;
}

img {
    display: inline-block;
}