@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: inline-block;
}

.container {
  width: 1070px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 94px;
}
.header-box > ul {
  display: flex;
  align-items: center;
  gap: 0 43px;
}
.header-box > ul > li > a {
  color: #5FB4A2;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-box > ul > li > a:active {
  color: #33323D;
  transition: all 3 ease;
}

.hero {
  position: relative;
}
.hero-box {
  width: 1111px;
  height: 600px;
  margin-top: 63px;
  margin-bottom: 116px;
}
.hero-absolut {
  position: absolute;
  top: 50px;
  right: 115px;
}
.hero-absolut > img {
  width: 659px;
}
.hero-title {
  position: absolute;
  padding: 56px 55px 53px 0;
  width: 445px;
  height: 357px;
  background: #FAFAFA;
  top: 250px;
}
.hero-title > h1 {
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.446px;
}
.hero-button {
  display: flex;
  align-items: center;
  margin-top: 53px;
  width: 200px;
  height: 48px;
  background: #203A4C;
}
.hero-button > a {
  color: #FFF;
  padding: 17px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section {
  display: flex;
  gap: 100px;
  margin-top: 116px;
}
.section-title {
  border-top: 1px solid #33323D;
}
.section-title-h2 {
  margin-top: 50px;
  color: #33323D;
  width: 350px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.section-title > p {
  width: 350px;
  color: #33323D;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 24px;
}
.section-title > a {
  width: 202px;
  height: 48px;
  border: 1px solid #33323D;
  color: #33323D;
  padding: 17px 32px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.section-box {
  margin-top: 115px;
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.section-box > h2 {
  width: 350px;
  color: #33323D;
  font-family: Ibarra Real Nova;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.section-box > a {
  width: 162px;
  height: 48px;
  border: 1px solid #33323D;
  padding: 17px 32px;
  color: #33323D;
  font-family: Public Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.bookmark-hero {
  background-image: url("../../../1page/assets/img/bookmark-hero_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1030px;
  height: 500px;
  margin-bottom: 115px;
}

.bookmark-list_1 {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 64px;
}

.list-1_1-box {
  width: 350px;
  height: 1px;
  opacity: 0.15;
  background: #33323D;
  margin-bottom: 48px;
}
.list-1_1 h2 {
  max-width: 100%;
  width: 350px;
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
  margin-bottom: 29px;
}
.list-1_1 p {
  max-width: 100%;
  width: 350px;
  color: #33323D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 23px;
}
.list-1_1 h6 {
  max-width: 100%;
  width: 350px;
  color: #5FB4A2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
}
.list-1_1 h5 {
  max-width: 100%;
  width: 350px;
  color: #5FB4A2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.list-1_1 button {
  padding: 17px 35px;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  margin-bottom: 48px;
}

.list-1_2 h2 {
  max-width: 100%;
  width: 350px;
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: -0.286px;
  margin-bottom: 28px;
}
.list-1_2 p {
  max-width: 100%;
  width: 635px;
  color: #33323D;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.list-2 {
  margin-bottom: 115px;
}
.list-2-box {
  width: 1070px;
  height: 1px;
  opacity: 0.15;
  background: #33323D;
}
.list-2-box-1 {
  width: 1px;
  height: 130px;
  opacity: 0.15;
  background: #33323D;
}
.list-2-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-2-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 12px;
}
.list-2-div a {
  color: #33323D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.list-2-div h5 {
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.286px;
}
.list-2-div p {
  color: #33323D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.list-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}
.list-3 h2 {
  max-width: 100%;
  width: 350px;
  color: #33323D;
  font-family: "Ibarra Real Nova";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -0.357px;
}
.list-3-box {
  width: 500px;
  height: 1px;
  opacity: 0.15;
  background: #33323D;
}
.list-3 button {
  padding: 15px 25px;
  border: 1px solid #33323D;
  color: #33323D;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
}

.footer {
  background: #33323D;
}
.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 0;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 0 42px;
}
.footer-list > li > a {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */