.header {
    margin-top: 64px;
    margin-bottom: 94px;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-list {
        display: flex;
        align-items: center;
        gap: 0 42px;
        align-items: center;
    }

    &-item {
        a {
            color: #33323D;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}